/* src/pages/Home.css */
.home-background {
  background-image: url('/src/imagens/teste.jpg'); /* Certifique-se de que o caminho está correto */
  background-size: contain; /* Ajusta a imagem para caber inteira no container sem repetir */
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-position: center; /* Centraliza a imagem no container */
  background-color: #211F20; /* Define a cor de fundo como preta para combinar com a área do logo */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
