/* src/layout/Footer.css */
footer {
    background-color:#C1883D; /* Escuro para combinar com o fundo do logo */
    color: #211F20; /* Um dourado suave para o texto do footer */
    padding: 0.05px 0;
    margin-top: auto; /* Isso empurra o footer para baixo */
  }
  
  footer a {
    color: #211F20; /* Um dourado suave para os links */
    text-decoration: underline;
  }
  
  footer p {
    color: #211F20; /* Um dourado suave para o texto do footer */
  }
  